<%- include('../templates/head')-%>
<body>
    <%- include('../templates/navbar')-%>
    <div class="container"> <!-- Always enclose everything in a container  -->
        <main role="main" class="inner cover"> <!-- Idk what this element does but every tutorial uses it so eh might as well use it  -->
            
            <div class="mt-6"></div> <!-- Used for spacing between sections  -->
            <!-- Input card section  -->
            <!-- Heading  -->
            <div class="row"> <!-- Use this row div if you want your section heading to be inline with another element  -->
                <div class="col-sm-9 col-12 align-self-end">
                    <h2 class="section-heading">List of Helpers Accounts</h2>
                </div>
                <div class="col-sm-3 col-12 align-self-end">
                    <button type="button" class="btn btn-lg btn-primary responsive-float float-right w-100">Add Helper</button>
                </div>
            </div>
            <div class="mt-3"></div> <!-- Used for spacing between section heading and content  -->
            <!-- Content  -->
            <div class="card"> <!-- Put interactible elements in a card, enclosed with card-body  -->
                <div class="card-body p-0">  <!-- We set the card's padding to 0 cause we want the table's edges to be flush with the table  -->
                    <!-- Table  -->
                    <div class="table-responsive">
                        <table class="table table-hover table-click table-lg"> 
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Email</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td class="font-weight-medium"><a href="#">Vignesh</a></td>
                                    <td>173560N@mymail.nyp.edu.sg</td>
                                    <td><i class="fa fa-trash-o" style="font-size:30px;color:red"></i></td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td class="font-weight-medium"><a href="#">Lester</a></td>
                                    <td>183480U@mymail.nyp.edu.sg</td>
                                    <td><i class="fa fa-trash-o" style="font-size:30px;color:red"></i></td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td class="font-weight-medium"><a href="#">Bryan</a></td>
                                    <td>181791R@mymail.nyp.edu.sg</td>
                                    <td><i class="fa fa-trash-o" style="font-size:30px;color:red"></i></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            
        </main>
    </div>
</body>

<%- include('../templates/footer')-%>