    <div class="mt-6"></div>  <!-- used for spacing between the last element and the page's base -->

    <!-- This is the container that wraps around the toasts and positions them correctly -->
    <div aria-live="polite" aria-atomic="true" style="z-index: 9999; position: fixed;">
        <div id="toastContainer" class="toast-container" style="position: fixed; bottom: 30px; left: 50%; transform: translate(-50%, 0px);">
            <!-- This is where we actually add the on page toasts to, whether they be the ones passed on page load or the ones loaded through ajax -->
            <!-- As mentioned before, locals.variable is used whenever we wanna check if the variable even exists. If we just say if (notifications), the program might crash cause the variable might not exist sometimes -->
            <%- include('./toast')-%> <!-- By including the toast template on page load, we can pass notifications on page load from the page's route and show them immediately -->
        </div>
    </div>

    <script>
        $(document).ready(async function() {
            $("body").tooltip({ selector: '[data-toggle=tooltip]' }); // This just ensures that the tooltips shown are the custom bootstrap ones, instead of the system ones
            $('.toast').not('.hide').toast('show'); // Show all unhidden toasts on page load
            <% if (locals.user) { %>
            const notifications = await ajax.get(routes.notification.getAllUnseen);
            for (let i = 0; i < notifications.length; i++) {
                switch (notifications[i].type) {
                    case "success":
                        toast.notify.success(notifications[i].message);
                        break;
                    case "danger":
                        toast.notify.danger(notifications[i].message);
                        break;
                    default:
                        toast.notify.success(notifications[i].message);
                        break;
                }
            }
            <% } %> 
        });
    </script>
</html>