<%- include('../templates/head')-%>
<body class="text-center">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <%- include('../templates/navbar')-%>
    <main role="main" class="inner cover">
        <h1 class="cover-heading">Seat Reservation</h1>
        <p class="lead">This is a test. It works. Yay.</p>
    </main>
    </div>
</body>
</html>