<%- include('../templates/head')-%>
<body>
    <%- include('../templates/navbar')-%>
    <div class="container">
        <main role="main" class="inner cover">
            <h1 class="cover-heading">Seat Reservation</h1>
            <p class="lead">This is a test. It works. Yay.</p>
        </main>
    </div>
</body>
<%- include('../templates/footer')-%>