<nav class="navbar navbar-light navbar-expand-sm bg-white justify-content-between">
    <div class="container">
        <a class="navbar-brand" href="/">
          <img src="images/nyp-icon-transparent.png" width="65px" height="65px" class="d-inline-block align-top"
				alt="NYP Logo">
        </a>
        
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsingNavbar" aria-controls="collapsingNavbar" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="navbar-collapse collapse justify-content-center" id="collapsingNavbar">
            <ul class="navbar-nav">
                <li class="nav-item mx-5 text-center">
                    <a class="nav-link" href="admin-planner">Planners <span class="sr-only">Home</span></a>
                </li>

                <li class="nav-item mx-5 text-center">
                    <a class="nav-link" href="admin-helper">Helpers</a>
                </li>
            </ul>
        </div>

        <ul class="nav navbar-nav flex-row nav-user-info">
            <li class="nav-item text-right nav-user-info">
                <span class="font-weight-medium text-dark">Administrator</span> <br>
                <span><a href="#" class="p-0 text-secondary small">Logout</a></span>
            </li>
        </ul>
    </div>
</nav>