    <div class="mt-6"></div>  <!-- used for spacing between the last element and the page's base -->

    <!-- This is the container that wraps around the toasts and positions them correctly -->
    <div aria-live="polite" aria-atomic="true" style="z-index: 1; position: fixed;">
        <div id="toastContainer" class="toast-container" style="position: fixed; bottom: 30px; left: 50%; transform: translate(-50%, 0px);">
            <!-- This is where we actually add the on page toasts to, whether they be the ones passed on page load or the ones loaded through ajax -->
            <% if (locals.notifications) { %> <!-- We make sure there is actually notifications being passed on page load. If we don't check, the program crashes -->
                <%- include('./toast')-%> <!-- By including the toast template on page load, we can pass notifications on page load from the page's route and show them immediately -->
            <% } %> 
        </div>
    </div>

    <script>
        $(document).ready(function() {
            $("body").tooltip({ selector: '[data-toggle=tooltip]' }); // This just ensures that the tooltips shown are the custom bootstrap ones, instead of the system ones
            $('.toast').toast('show'); // Show all toasts on page load
        });
    </script>
</html>