<!DOCTYPE html>
<html>
    <head>
        <!-- NOTE THAT ALL REFERENCES TO FILES UNDER STATIC FOLDERS, LIKE PUBLIC, MUST START WITH A "/" (eg: "/images/test.png") OTHERWISE REFERENCES WILL BREAK -->
        <!-- META -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <link rel="icon" href="/images/nyp-icon-transparent.png">
        <title><%= title%> - NYP eTicketing System</title>

        <!-- SCRIPTS -->
        <!-- MUST FOLLOW THIS ORDER -->
        <!-- jquery -> popper -> bootstrap scripts -> seat chart script -> other scripts -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> <!-- jQuery -->
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script> <!-- Popper.JS, used for tooltips, should be imported before Bootstrap -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/js/bootstrap.min.js"></script> <!-- Bootstrap Script -->
        <script src="https://kit.fontawesome.com/a2c912fa72.js" crossorigin="anonymous"></script>
        <script src="/js/ejs.js"></script> <!-- EJS, which is used to do client side templating -->
        <script src="/js/jquery-seat-chart.js"></script> <!-- Seat Charts Script  -->
        <script src="/js/templates.js"></script> <!-- Script that contains an object with ejs templates that we can use for client side templating -->
        <script src="/js/script.js"></script> <!-- General Script -->
        
        <!-- STYLESHEETS -->
        <!-- MUST FOLLOW THIS ORDER -->
        <!-- bootstrap -> seat chart css -> other css -->
        <link href="/css/bootstrap.css" rel="stylesheet" type="text/css" /> <!-- Bootstrap Stylesheet, which is compiled from the scss files. Should be imported first. -->
        <link href="/css/jquery-seat-chart.css" rel="stylesheet" type="text/css" /> <!-- Seat Charts Stylesheet. Should be imported before general css file. -->
        <link href="/css/style.css" rel="stylesheet" type="text/css" /> <!-- General Stylesheet -->
    </head>