<nav class="navbar navbar-light navbar-expand-sm bg-white">
    <div class="container">
        <a class="navbar-brand" href="/">
			<img src="images/nyp-icon-transparent.png" width="65px" height="65px" class="d-inline-block align-top"
				alt="NYP Logo">
        </a>
        
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
    </div>
</nav>