<!-- Just for testing -->

<div class="seatCharts-cardColumn col-auto">
    <div class="seatCharts-legendCard card card-hover text-primary font-weight-medium p-2 mt-3" seat-character="<%= notifications[i].message %>">
        <div class="seatCharts-cardBody card-body">
            <div class="seatCharts-legendItem">
                <div class="seatCharts-seat seatCharts-cell available handicapped"></div>
                <span class="seatCharts-legendDescription">Handicapped</span>
            </div>
        </div>
    </div>
</div>