<%- include('../templates/head')-%>
<body>
    <%- include('../templates/navbar')-%>
    <div class="container"> <!-- Always enclose everything in a container  -->
        <main role="main" class="inner cover"> <!-- Idk what this element does but every tutorial uses it so eh might as well use it  -->

            <div class="mt-6"></div> <!-- Used for spacing between sections  -->
            <!-- Table card card section  -->
            <!-- Heading  -->
            <div class="row"> <!-- Use this row div if you want your section heading to be inline with another element  -->
                <div class="col-sm-9 col-12 align-self-end">
                    <h2 class="section-heading">Events</h2>
                </div>
                <div class="col-sm-3 col-12 align-self-end">
                    <button type="button" class="btn btn-lg btn-primary responsive-float float-right">+ Add Event</button>
                </div>
            </div>
            <div class="mt-0"></div> <!-- This spacing is different from the rest cause having multiple inline elements in the heading kinda screws up the spacing, so have to set it to zero to make it look consistent with the rest -->
            <!-- Content  -->
            <div class="card mt-3"> <!-- Put interactible elements in a card, enclosed with card-body  -->
                <div class="card-body p-0">  <!-- We set the card's padding to 0 cause we want the table's edges to be flush with the table  -->
                    <!-- Table  -->
                    <div class="table-responsive">
                        <table class="table table-hover table-click table-lg"> 
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Venue</th>
                                    <th scope="col">Date & Time</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">1</th>
                                    <td class="font-weight-medium"><a href="#">SIT Graduation Ceremony</a></td>
                                    <td>Auditorium</td>
                                    <td>18th April 2020, 9am</td>
                                </tr>
                                <tr>
                                    <th scope="row">2</th>
                                    <td class="font-weight-medium"><a href="#">SBM Graduation Ceremony</a></td>
                                    <td>Auditorium</td>
                                    <td>18th April 2020, 1pm</td>
                                </tr>
                                <tr>
                                    <th scope="row">3</th>
                                    <td class="font-weight-medium"><a href="#">SIDM Graduation Ceremony</a></td>
                                    <td>Auditorium</td>
                                    <td>18th April 2020, 5pm</td>
                                </tr>
                                <tr>
                                    <th scope="row">4</th>
                                    <td class="font-weight-medium"><a href="#">Guitar Club Presents: Steel Cords & Mellow Chords</a></td>
                                    <td>Theatre for the Arts</td>
                                    <td>21st April 2020, 4pm</td>
                                </tr>
                                <tr>
                                    <th scope="row">5</th>
                                    <td class="font-weight-medium"><a href="#">Drama Club Presents: Shrek on Ice!</a></td>
                                    <td>Theatre for the Arts</td>
                                    <td>22nd April 2020, 6pm</td>
                                </tr>
                                <tr>
                                    <th scope="row">6</th>
                                    <td class="font-weight-medium"><a href="#">Martial Arts Night</a></td>
                                    <td>Theatre for the Arts</td>
                                    <td>24th April 2020, 7pm</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </main>
    </div>
</body>

<%- include('../templates/footer')-%>