/* General Stuff */
/* =============================== */

input[type=radio].lg-radio {
    transform: scale(2);
    -ms-transform: scale(2);
    -moz-transform: scale(2);
    -o-transform: scale(2);
}

input[type=checkbox].lg-check {
    transform: scale(2);
    -ms-transform: scale(2);
    -moz-transform: scale(2);
    -o-transform: scale(2);
}

select {
    background: url(data:image/svg+xml;base64,PHN2ZyBpZD0iTGF5ZXJfMSIgZGF0YS1uYW1lPSJMYXllciAxIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA0Ljk1IDEwIj48ZGVmcz48c3R5bGU+LmNscy0xe2ZpbGw6I2ZmZjt9LmNscy0ye2ZpbGw6IzQ0NDt9PC9zdHlsZT48L2RlZnM+PHRpdGxlPmFycm93czwvdGl0bGU+PHJlY3QgY2xhc3M9ImNscy0xIiB3aWR0aD0iNC45NSIgaGVpZ2h0PSIxMCIvPjxwb2x5Z29uIGNsYXNzPSJjbHMtMiIgcG9pbnRzPSIxLjQxIDQuNjcgMi40OCAzLjE4IDMuNTQgNC42NyAxLjQxIDQuNjciLz48cG9seWdvbiBjbGFzcz0iY2xzLTIiIHBvaW50cz0iMy41NCA1LjMzIDIuNDggNi44MiAxLjQxIDUuMzMgMy41NCA1LjMzIi8+PC9zdmc+) no-repeat 95% 50%;
	-webkit-appearance: none;
}

.form-control {
    box-shadow: none !important;
    border: none !important;
}

.card-input {
    padding: 0 !important; 
    height: auto;
    margin-bottom: 5px;
    border-radius: 0;
}

.card-hover {
    cursor: pointer;
}

.card-hover:hover {
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    transition: opacity 0.3s ease-in-out;
}

.input-card-body {
    padding: 0.8rem 1.25rem !important;
}

.no-label-card-body {
    padding: 1.5rem 1.25rem !important;
}

.card-input-label {
    position: relative; 
    bottom: -2.5px; 
    margin: 0 !important; 
    display: block;
}

.highlighted {
    background-color: #faf6d1 !important;
    box-shadow: 0 1px 5px rgba(0,0,0,0.15) inset !important;
}

.vh-100-nav {
    height: calc(100vh - 175px) !important;
}

.seat-legend-icon {
    background-color: transparent !important;
}

.add-seat-legend-icon:after {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    color: #0f5caf !important;
    padding: 0 !important;
    content: "\f067";
}

.remove-seat-legend-icon:after {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    color: #E32624 !important;
    padding: 0 !important;
    content: "\f068";
}

div.row-small-margin {
    padding-left: 10px;
    padding-right: 10px;
}

div.col-small-margin {
    padding-right: 5px;
    padding-left: 5px;
}

@media only screen and (max-width: 768px) {
    .responsive-float {
        float: none !important;
    }
}

@media only screen and (max-width: 576px) {
    .nav-user-info {
        text-align: center !important;
        width: 100% !important;
    }
}