/* General Stuff */
/* =============================== */

input[type=radio].lg-radio {
    transform: scale(2);
    -ms-transform: scale(2);
    -moz-transform: scale(2);
    -o-transform: scale(2);
}

input[type=checkbox].lg-check {
    transform: scale(2);
    -ms-transform: scale(2);
    -moz-transform: scale(2);
    -o-transform: scale(2);
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='%238C98F2'><polygon points='0,0 100,0 50,50'/></svg>") no-repeat;
    background-size: 12px;
    background-position: calc(100% - 20px) center;
    background-repeat: no-repeat;
    background-color: #efefef;
}

select:disabled,
select[readonly] {
    background-color: #ffffff !important;
    background-image: none;
    opacity: 0.8;
}

.form-control {
    box-shadow: none !important;
    border: none !important;
}

.card-input {
    padding: 0 !important; 
    height: auto;
    margin-bottom: 5px;
    border-radius: 0;
}

.pointer-cursor {
    cursor: pointer !important;
}

.card-hover {
    cursor: pointer;
}

.card-hover:hover {
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    transition: opacity 0.3s ease-in-out;
}

.input-card-body {
    padding: 0.8rem 1.25rem !important;
}

.inline-check-card-body {
    padding: 0.7rem 1.25rem !important;
}

.no-label-card-body {
    padding: 1.5rem 1.25rem !important;
}

.card-input-label {
    position: relative; 
    bottom: -2.5px; 
    margin: 0 !important; 
    display: block;
}

.vh-100-nav {
    height: calc(100vh - 175px) !important;
}

.seat-legend-icon {
    background-color: transparent !important;
}

.add-seat-legend-icon:after {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    color: #0f5caf !important;
    padding: 0 !important;
    content: "\f067";
}

.remove-seat-legend-icon:after {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    color: #E32624 !important;
    padding: 0 !important;
    content: "\f068";
}

div.row-small-margin {
    padding-left: 10px;
    padding-right: 10px;
}

div.col-small-margin {
    padding-right: 5px;
    padding-left: 5px;
}

.text-break-hyphen {
    overflow-wrap: break-word;
    word-wrap: break-word;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
}

.clickable-div {
    background-position: center;
    transition: background 0.8s;
}

.clickable-div:hover {
    background: #f6f9fd;
}

.clickable-div:active {
    background-color: #e4ebee;
}

.clickable-child {
    pointer-events: none;
}

.highlighted {
    background-color: #faf6d1 !important;
    box-shadow: 0 1px 5px rgba(0,0,0,0.15) inset !important;
}
  
.quickFlash {
    animation-name: quickFlash;
    animation-duration: 1900ms;
    animation-iteration-count: 1;
    animation-timing-function: ease;
    -webkit-animation-name: quickFlash;
    -webkit-animation-duration: 1900ms;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease;
    -moz-animation-name: quickFlash;
    -moz-animation-duration: 1900ms;
    -moz-animation-iteration-count: 1;
    -moz-animation-timing-function: ease;
}

@keyframes quickFlash {
    0% {
        background-color: rgba(255, 255, 255, 0);
        opacity: 1;
    }
    100% {
        background-color: inherit;
    }
}

@-webkit-keyframes quickFlash {
    0% {
        background-color: rgba(255, 255, 255, 0);
        opacity: 1;
    }
    100% {
        background-color: inherit;
    }
}

.quickScale {
  animation: quickScale 0.4s ease-in-out; 
}

@keyframes quickScale {
    0% { 
        transform: scale(1); 
        transform-origin: center;
    }
    50% {
        transform: scale(1.15); 
        transform-origin: center;
    }
    100% { 
        transform: scale(1); 
        transform-origin: center;
    }
}

input[type=search]::-ms-clear { display: none; width : 0; height: 0; }
input[type=search]::-ms-reveal { display: none; width : 0; height: 0; }
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }

@media only screen and (max-width: 767px) {
    .responsive-float {
        float: none !important;
    }

    .toast {
        width: 90vw;
    }
}

@media only screen and (max-width: 575px) {
    .nav-user-info {
        text-align: center !important;
        width: 100% !important;
    }

    .notification-message {
        font-size: 120%;
    }
}