input[type=radio] {
    transform: scale(2);
    display: block;
}

.form-control {
    box-shadow: none !important;
    border: none !important;
}

.card {
    margin-top: 1rem !important;
}

.input-card-body {
    padding: 0.5rem 1.25rem !important;
}

.input-radio-card-body {
    padding: 1.5rem 1.25rem !important;
}

.card-input-label {
    position: relative; 
    bottom: -8.5px; 
    margin: 0 !important; 
}

.card-input {
    padding: 0 !important; 
}

@media only screen and (max-width: 768px) {
    .responsive-float {
        float: none !important;
    }

    .nav-user-info {
        text-align: center !important;
        width: 100% !important;
    }
}