/* General Stuff */
/* =============================== */

input[type=radio].lg-radio {
    transform: scale(2);
    -ms-transform: scale(2);
    -moz-transform: scale(2);
    -o-transform: scale(2);
}

input[type=checkbox].lg-check {
    transform: scale(2);
    -ms-transform: scale(2);
    -moz-transform: scale(2);
    -o-transform: scale(2);
}

.form-control {
    box-shadow: none !important;
    border: none !important;
}

.card-input {
    padding: 0 !important; 
    height: auto;
    margin-bottom: 5px;
    border-radius: 0;
}

.card-hover {
    cursor: pointer;
}

.card-hover:hover {
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    transition: opacity 0.3s ease-in-out;
}

.input-card-body {
    padding: 0.8rem 1.25rem !important;
}

.no-label-card-body {
    padding: 1.5rem 1.25rem !important;
}

.card-input-label {
    position: relative; 
    bottom: -2.5px; 
    margin: 0 !important; 
    display: block;
}

.highlighted {
    background-color: #faf6d1 !important;
    box-shadow: 0 1px 5px rgba(0,0,0,0.15) inset !important;
}

.vh-100-nav {
    height: calc(100vh - 175px) !important;
}

@media only screen and (max-width: 768px) {
    .responsive-float {
        float: none !important;
    }
}

@media only screen and (max-width: 576px) {
    .nav-user-info {
        text-align: center !important;
        width: 100% !important;
    }
}