input[type=radio].lg-radio {
    transform: scale(2);
    -ms-transform: scale(2); /* IE */
    -moz-transform: scale(2); /* FF */
    -o-transform: scale(2); /* Opera */
}

input[type=checkbox].lg-check {
    transform: scale(2);
    -ms-transform: scale(2); /* IE */
    -moz-transform: scale(2); /* FF */
    -o-transform: scale(2); /* Opera */
}

.form-control {
    box-shadow: none !important;
    border: none !important;
}

.card {
    margin-top: 1rem !important;
}

.input-card-body {
    padding: 0.5rem 1.25rem !important;
}

.no-label-card-body {
    padding: 1.5rem 1.25rem !important;
}

.card-input-label {
    position: relative; 
    bottom: -8.5px; 
    margin: 0 !important; 
    display: block;
}

.card-input {
    padding: 0 !important; 
}

@media only screen and (max-width: 768px) {
    .responsive-float {
        float: none !important;
    }
}

@media only screen and (max-width: 576px) {
    .nav-user-info {
        text-align: center !important;
        width: 100% !important;
    }
}